*.exe

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
passwords.txt

# Environments
.virt
.env
.venv
env/
venv/

*.xlsx

structure.txt
ads_bot.rar
snake_game.py
.\info.txt
.\user_pass.txt

